.git
.gitignore
.dockerignore
.env
.env.*
!.env.example
.idea
.vscode
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
public/hot
public/storage
error_log
npm-debug.log
yarn-error.log
Dockerfile*
compose*.yml
compose*.yaml
